.cb-tree-item-inner-extensions {
  word-break: break-word;
  margin-right: auto; /* To make sure the buttons are on the right */
}

.cb-tree-item-inner-suffix {
  margin-left: 0.2rem;
  font-size: var(--font-smallest);
  color: var(--text-muted);
  padding: 0.2rem;
  padding-top: 0rem;
  padding-bottom: 0.1rem;
  background-color: var(--color-base-30);
  border-radius: 1rem;
}

.cb-tree-item-inner-subtitle {
  display: block;
  color: var(--color-base-60);
  opacity: var(--icon-opacity);
  font-size: var(--font-smallest);
}

.cb-tree-item-button {
  box-shadow: none !important;              /* Obsidian Button class overrides */
  background-color: transparent !important; /* Obsidian Button class overrides */
  padding: 0 !important;                    /* Obsidian Button class overrides */
  margin: 0 .2rem !important;               /* Obsidian Button class overrides */
  height: auto !important;                  /* Obsidian Button class overrides */
  
  align-self: center;
  color: var(--icon-color);
  opacity: var(--icon-opacity);
}

.cb-tree-item-button > svg {
  width: 12px !important;                   /* Obsidian Button class overrides */
  height: 12px !important;                  /* Obsidian Button class overrides */
  stroke-width: 2.5px !important;               /* Obsidian Button class overrides */
}
.cb-tree-item-button:disabled {
  opacity: calc(var(--icon-opacity) * 0.5);
}

.cb-tree-item-button:not(:disabled):hover {
  opacity: var(--icon-opacity-active);
  color: var(--icon-color-focused);
}

.cb-view-empty {
  color: var(--text-muted);
  display: table;
  margin: 1rem auto;
  font-style: italic;
}

.cb-view-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
}

.cb-view-tree {
  padding-bottom: 1rem; /* To make sure all tree items are viewable, because of the statusbar */
}